SECRET_KEY='django-insecure-z%@(n0y+8-%rj=n2qk3_h68i%fypjblv51i^_-gifk$j*k!p+#'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_NAME=url_shortener
DATABASE_USER=postgres
DATABASE_PASS=12345
DATABASE_HOST=db
DATABASE_PORT=5432
REDIS_HOST='redis'
REDIS_PORT=6379
REDIS_DB=0
CELERY_BROKER_URL='redis://redis:6379/0'
CELERY_RESULT_BACKEND='redis://redis:6379/0'
